{% extends 'base.html.twig' %}

{% block title %}
    Oops ! An error occured !
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            An error ocurred ! Too bad :(
        </div>
    </div>
{% endblock %}