<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Molecules representation system</h1>
    <p>This application, developped for the course "Advanced web technologies - Symfony 3" is used to represent molecules, atoms, and display their data.</p>
    <p>
        <a class="btn btn-lg btn-success" href="#" role="button">Contact us to get your own molecules repository</a>
    </p>
</div>